{% extends 'layouts/base.html' %}


{% block content %}
<div class="container">
	<h2 class="text-center">Категории</h2>
	<br>
	{% for category in categories %}
		<a href="{{category.get_absolute_url}}" class="text-decoration-none">
			<div class="card ">
				<div class="card-header">
					{{ forloop.counter }}.
					<span class="font-weight-bold">{{ category.name }}.</span>
					<span class="text-muted">Количесто публикаций: {{ category.publications_count }}</span>
				</div>
			</div>
		</a>
		<br>
	{% endfor %}
</div>
{% endblock content %}


